/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: open san sans-serif;
} */
body{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    height: 70vh;
    width: 50vw;
    display: flex;
    

}
#perfumePic{
    width: 50%;
    background-image: url(https://github.com/Kay2108/Card-Component/blob/main/Class%20Activities/Card%20Component/Card%20Project.jpg?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .card {
    justify-items: center;
    padding: 5px;
    width: 50%;
} */
#perfumeInfo{
    padding: 20px;
    background-color: hsl(30, 38%, 92%);
    width: 50%;
    row-gap: 500px;
}
.card header {
    font-family: Open Sans serif;
    font-size: 14px;
    font-weight: lighter;
}
.card h1 {
    font-family: open sans sans-serif
}

.card p {
    font-family: open Sans serif;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(63, 63, 63);
    
}
#amountbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin-top: 15px;
    margin-bottom: 15px;

}
#amount {
    
    color: hsl(158, 36%, 37%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
    row-gap: 10px;
    
    /* width: 150px; */
    
}
#oldPrice{
    color: rgb(103, 101, 101);
    font-size: 16px;
    font-weight: 600;
    text-decoration: line-through;
   
}
.addbutton {
    font-size: 1rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-color: none;
    background-color: hsl(158, 36%, 37%);
    width: 200px;
    height: 35px;
    margin-left: 25px;
} 
 .addbutton:hover {
    background-color: hsl(157, 83%, 9%);
}
